.grid-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* de la siguiente manera aplico color al segundo párrafo */
.grid-one p:nth-child(2) {
    color:blue;
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

/* siendo todas de grid-two puedo especificar colores diferentes con 
el enésimo hijo*/
.grid-two div:nth-child(1) {
    background-color: red;
}

.grid-two div:nth-child(2)  {
    background-color: blue;
}

.grid-two div:nth-child(3)  {
    background-color: yellow;
}

.grid-three {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    background-color:aquamarine;
}

.contenido-grid-three img {
    width: 500px;
    height: 225px;
    object-fit:cover;
}

.grid-four {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: green;
    width: 500px;
}

/* como este es id se escribe así */
#grid-four-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-five {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:darksalmon;
    width: 500px;
}

#grid-five-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#grid-five-div img {
    width:200px;
    height: 200px;
    object-fit: cover;
}

/* especifico que aquí se usará la letra especial */
.grid-six {
    font-family: "Playwrite IN Guides", cursive;
    display:grid;
    grid-template-columns: 1fr 3fr;
    width:500px;
    background-color: gray;
}